/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Encabezado */
header {
    text-align: center;
    padding: 20px 0;
    background-color: #222;
    color: #fff;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    letter-spacing: 2px
}